.main_form {
    padding: 5%;
    text-align: center;
  }
  
  input ,select {
    padding: 1%;
    width: 50%;
    margin: 1% 2%;
    border: solid 2px black;
  }
  
  button {
    font-weight: bold;
    border: none;
    color: white;
    padding: 1%;
  }
  